<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true" 
      throwExceptions="true"
      internalLogFile=".\logs\nlog\internal-nlog.txt"
      internalLogLevel="Error">
    <extensions>
        <add assembly="NLog.Web.AspNetCore"/>
    </extensions>
    <variable name="nlogConfigDirectory" value="${basedir}\logs\"/>
    <variable name="normalLayout" value="▂﹏▂﹏▂﹏▂﹏▂﹏▂﹏▂﹏▂﹏▂﹏▂▂﹏▂﹏▂﹏▂﹏▂﹏▂﹏▂﹏▂﹏▂
${newline}日志级别：${uppercase:${level}}
${newline}日志时间：${time}
${newline}来源机器：${machinename}
${newline}来源地址：${when:when='${aspnet-request-referrer}' == '':inner=无:else=${aspnet-request-referrer}}
${newline}请求地址：${aspnet-request-url}
${newline}请求解析：controller-[${aspnet-mvc-controller}]，action-[${aspnet-mvc-action}]${when:when='${aspnet-request-querystring:OutputFormat=JSON}' == ''::else=，querystring-${aspnet-request-querystring:OutputFormat=JSON}}
${newline}请求方式：${aspnet-request-method} 
${newline}IP 地 址：${aspnet-request-ip}
${newline}身份验证：${when:when='${aspnet-user-isauthenticated}' == '1':inner=[${aspnet-user-authtype}]-已登录：${aspnet-user-identity}:else=未登录}
${newline}------------------------------------------------------------
${newline}日志信息：${message}
${newline}所 在 类：${logger}
${newline}请求对象：${callsite:cleanNamesOfAnonymousDelegates=true}
${newline}堆栈跟踪：${stacktrace}
${onexception:inner=${newline}所在行数：${callsite-linenumber:skipFrames=1}}
${onexception:inner=${newline}异常信息：${exception:format=tostring}}
${newline}计 数 器：${counter}
${newline}
▂﹏▂﹏▂﹏▂﹏▂﹏▂﹏▂﹏▂﹏▂﹏▂▂﹏▂﹏▂﹏▂﹏▂﹏▂﹏▂﹏▂﹏▂
${newline}"/>

    <targets>
        <target xsi:type="Null" name="blackhole" formatMessage="false"></target>
    
        <target name="fileTarget" xsi:type="AsyncWrapper">
            <target name="file" xsi:type="File" encoding="utf-8"
                fileName="${aspnet-appbasepath}/logs/${date:format=yyyy-MM-dd}/N-${date:format=tt}.${level}.log" 
                layout="${normalLayout}" 
				keepFileOpen="true" />
        </target>
                
        <target xsi:type="Mail" name="mailTarget" smtpServer="smtp.yeah.net"
            smtpPort="25" smtpAuthentication="Basic"
            smtpUserName="corefx" smtpPassword="BVTUDMVHQXZCNBML"
            enableSsl ="true"
            addNewLines ="true"
            html ="true" replaceNewlineWithBrTagInHtml="true"
            layout="Layout"
            from="corefx@yeah.net"
            to="450684586@qq.com"
            subject="【${level}】@ ${shortdate} ${time} ：${message}"
            body="${normalLayout}"  />
    </targets>
    
	<rules>
        <logger name="Microsoft.*"  final="true" />
        <logger name="DotNetCore.CAP.*" final="true" />
        <logger name="Quartz.*"  final="true" />

        <logger name="*" writeTo="fileTarget" />
        <logger name="*" level="Fatal" writeTo="mailTarget" />
	</rules>

</nlog>
